In [1]:
2+1

3

In [2]:
2*2

4

In [3]:
2 ** 3

8

In [4]:
50 % 2

0

mod operations gives remainder

In [5]:
a= 10

In [6]:
a

10

In [7]:
a+a

20

In [10]:
a =a+a

In [11]:
a

40

In [12]:
type(a)

int

In [15]:
my_taxes = 0.1
my_income = 100
total = my_taxes * my_income

In [16]:
total

10.0

In [17]:
'hello rahul'

'hello rahul'

In [18]:
"Hello World[0]"

'Hello World[0]'

In [19]:
"Hello World"[0]

'H'

In [20]:
my_string ="Test slicer"

In [21]:
my_string[:3:1]

'Tes'

In [22]:
my_string[:3:2]

'Ts'

In [23]:
my_string[5:3]

''

In [25]:
my_string[6:9:1]

'lic'

In [26]:
my_string[::-1]

'recils tseT'

In [27]:
my_string* 3

'Test slicerTest slicerTest slicer'

In [28]:
my_string.upper()

'TEST SLICER'

In [29]:
my_string.lower

In [30]:
my_string.lower()

'test slicer'

In [31]:
my_string.split()

['Test', 'slicer']

In [32]:
my_string.split(t)

NameError: name 't' is not defined

In [33]:
my_string.split('t')

['Tes', ' slicer']

In [38]:
print("hello world this is {2}{1}{0}".format(' of',' coronavirus',' setup'))

hello world this is  setup coronavirus of

In [39]:
print("hello world this is {b}{h}{q}".format(q =' of',b =' coronavirus',h=' setup'))

hello world this is  coronavirus setup of

In [40]:
result = 100/45

In [47]:
result

2.2222222222222223

In [57]:
test_string = "Test result was {r:1.3f}".format(r=result)

In [58]:
print(test_string)

Test result was 2.222

In [62]:
print(f"what is this rahul {result}")

what is this rahul 2.2222222222222223

In [64]:
my_list=["string",100,33.22]

In [65]:
len(my_list)

3

In [66]:
my_list[0]

'string'

In [68]:
my_list[:1]

['string']

In [69]:
my_list=["one","two","three"]

In [70]:
another_list=["four","five","six"]

In [72]:
new_list=my_list+another_list

In [73]:
new_list

['one', 'two', 'three', 'four', 'five', 'six']

In [74]:
new_list.sort()

In [75]:
new_list

['five', 'four', 'one', 'six', 'three', 'two']

In [76]:
new_list.reverse()

In [77]:
new_list

['two', 'three', 'six', 'one', 'four', 'five']

In [78]:
my_list1=["string",100,33.22]

In [82]:
my_list1.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [81]:
my_list1

[33.22, 100, 'string']

In [94]:
fruits_price={'apples':1.99,'oranges':2.99,'pineapple':55.2}

In [85]:
fruits_price['apples']

1.99

In [91]:
nested_dis={"rahul":45.33,'vijay':["a","b","c"],"pooja":{"kana":24,"sona":48}}

In [89]:
nested_dis['pooja']['kana']

24

In [93]:
nested_dis['vijay'][2].upper()

'C'

In [95]:
fruits_price['chiku']=5.33

In [96]:
fruits_price

{'apples': 1.99, 'oranges': 2.99, 'pineapple': 55.2, 'chiku': 5.33}

In [97]:
fruits_price['apples']=1.56

Assigning new value to the key

In [98]:
fruits_price

{'apples': 1.56, 'oranges': 2.99, 'pineapple': 55.2, 'chiku': 5.33}

In [99]:
fruits_price.keys()

dict_keys(['apples', 'oranges', 'pineapple', 'chiku'])

Fetches all the keys

In [100]:
fruits_price.values()

dict_values([1.56, 2.99, 55.2, 5.33])

Fetches all the values

In [101]:
fruits_price.items()

dict_items([('apples', 1.56), ('oranges', 2.99), ('pineapple', 55.2), ('chiku', 5.33)])

Returns backs the pairings